.page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.nav-prev {
    text-align: left;
}

.nav-next {
    text-align: right;
    margin-left: auto;
}